<div class="h-full w-full">
  <div id="chat-holder" class="relative w-full p-10 chat-holder" style="height: 90%;">
    <div *ngFor="let item of allChats">
      <chats [name]="item.name" [content]="item.content"></chats>
    </div>
  </div>
  <form
    (submit)="formsubmit($event)"
    class="bottom-0 absolute w-full p-10"
    style="background: #191b1d"
  >
    <input
      id="chat-bar"
      placeholder="Type your message"
      autocomplete="off"
      class="rounded-lg h-10 w-full focus:outline-none p-5 focus:border-none"
      style="background: #2c2f33"
    />
  </form>
</div>

<div
  id="name-c"
  class="absolute w-full h-full top-0 right-0 left-0 justify-center"
  style="background-color: rgba(0, 0, 0, 0.7)"
>
  <form
    class="m-auto relative rounded-md p-10 name-select-form"
    style="height: 300px; top: 50%; margin-top: -150px; background: #23272a"
    (submit)="handleNameClick($event)"
  >
    <h1>Enter your name to display :</h1>
    <input
      id="name-bar"
      type="text"
      onkeydown="var str = document.getElementById('name-bar');
      var regex = /[^a-z]/gi;
      str.value = str.value.replace(regex, '');"
      onkeyup="var str = document.getElementById('name-bar');
      var regex = /[^a-z]/gi;
      str.value = str.value.replace(regex, '');"
      onkeypress="var str = document.getElementById('name-bar');
      var regex = /[^a-z]/g;
      str.value = str.value.replace(regex, '');"
      placeholder="Type your name"
      autocomplete="off"
      autofocus
      class="
        mt-5
        rounded-lg
        h-10
        w-full
        focus:outline-none
        p-5
        focus:border-none
      "
      style="background: #2c2f33"
    />
    <div
      (click)="handleNameClick()"
      class="
        rounded-md
        m-auto
        mt-8
        py-2
        text-center
        cursor-pointer
        hover-change-btn
      "
      style="width: 120px; height: 40px; max-width: 120px; max-height: 40px"
    >
      Lets Go!
    </div>
  </form>
</div>
